<section>
  <div class="container">
    <h2>Cadastro de Ofertas</h2>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="grid">
        <div class="campos">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>ID</mat-label>
            <input
              matInput
              [formControl]="id"
              required
              placeholder="ID do jogo"
            />
            <mat-error *ngIf="id.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>

        <div class="campos">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Título</mat-label>
            <input
              matInput
              [formControl]="titulo"
              required
              placeholder="Título do jogo"
            />
            <mat-error *ngIf="titulo.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="campos">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Preço</mat-label>
            <input
              matInput
              [formControl]="preco"
              required
              placeholder="Preço do jogo"
            />
            <mat-error *ngIf="preco.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>

        <div class="campos">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Preço com desconto</mat-label>
            <input
              matInput
              [formControl]="precoDesconto"
              required
              placeholder="Preço com desconto"
            />
            <mat-error *ngIf="precoDesconto.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="campos">
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Loja</mat-label>
            <mat-select required [formControl]="loja">
              <mat-option>Selecione a loja</mat-option>
              <mat-option *ngFor="let loja of lojas" value="{{ loja.id }}">
                {{ loja.nome }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="loja.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>

        <div class="campos">
          <mat-form-field
            appearance="outline"
            hideRequiredMarker
            hintLabel="Max 80 characters"
          >
            <mat-label>Descrição</mat-label>
            <input
              matInput
              #input
              required
              [formControl]="descricao"
              maxlength="80"
              placeholder="Descrição do jogo"
            />
            <mat-error *ngIf="descricao.invalid">{{
              getErrorMessage()
            }}</mat-error>
            <mat-hint align="end">{{ input.value?.length || 0 }}/80</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="campos">
        <button
          mat-raised-button
          color="primary"
          name="submit"
          value="submit"
          type="submit"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</section>
