<div class="footer">
  <div class="toolbar">
    <img class="logo" src="../../assets/logo-icone.svg" alt="Game Tracker" />
    <p>
      © 2021, Game Tracker Inc. Todos os direitos reservados. Nulla facilisi.
      Etiam sagittis congue tempor. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Suspendisse eu
      velit et ante luctus egestas. Aenean sed nisi tellus. Duis non ornare
      libero. Quisque suscipit maximus nisi, in gravida felis. Cras ornare
      mauris ac nisi congue, ut condimentum sem tincidunt. Phasellus semper
      tellus malesuada turpis gravida cursus. Duis nec eleifend nunc, vitae
      finibus elit. Aliquam eget diam vitae purus suscipit viverra.
    </p>
    <div>
      <ul class="footer-list">
        <li>Termos de Serviço</li>
        <li>Política de Privacidade</li>
        <li>Trabalhe conosco</li>
        <li>Contato</li>
      </ul>
    </div>
  </div>
</div>
